<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="36993DaveVoyles.DaveVoylesWindowsAppTemplate" Version="1.1.0.0" Publisher="CN=2B6303F6-C856-4B30-BF0F-65725117C944" />
  <Properties>
    <DisplayName>Dave Voyles Windows App Template</DisplayName>
    <PublisherDisplayName>Dave Voyles</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="template/wat-wrapper.html">
      <m2:VisualElements DisplayName="Dave Voyles Windows App Template" Description="WebTemplate" ForegroundText="light" BackgroundColor="#464646" Square150x150Logo="images\Logo.png" Square30x30Logo="images\SmallLogo.png">
        <m2:DefaultTile Wide310x150Logo="images\widelogo.png" DefaultSize="wide310x150Logo" Square310x310Logo="images\Square310x310Logo.png" Square70x70Logo="images\Square70x70Logo.png">
        </m2:DefaultTile>
        <m2:SplashScreen Image="images\splashscreen.png" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
      <ApplicationContentUriRules>
        <Rule Match="https://www.microsoft.com" Type="include" />
        <Rule Match="https://www.desmos.com" Type="include" />
        <Rule Match="https://wat-docs.azurewebsites.net" Type="include" />
      </ApplicationContentUriRules>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>